[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/peawza/MES.FrontEnd.git
	branch = main
[submodule "Service/Auth"]
	path = Service/Auth
	url = https://github.com/peawza/MES.Auth.git
	branch = main
[submodule "Service/BackgroundServices"]
	path = Service/BackgroundServices
	url = https://github.com/peawza/MES.Service.BackgroundServices.git
	branch = main



[submodule "Service/Inventory"]
	path = Service/Inventory
	url = https://github.com/peawza/MES.API.Inventory.git
	branch = main

[submodule "Service/Production"]
	path = Service/Production
	url = https://github.com/peawza/MES.API.Production.git
	branch = main
[submodule "Service/Quality"]
	path = Service/Quality
	url = https://github.com/peawza/MES.API.Quality.git
	branch = main
[submodule "Service/Maintenance"]
	path = Service/Maintenance
	url = https://github.com/peawza/MES.API.Maintenance.git
	branch = main
